.categories {
  margin-top: 90px;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .itemOne {
    background-color: $quinary;
  }
  .itemTwo {
    background-color: $secondary;
  }
  .itemThree {
    background-color: $tertiary;
  }
  .itemFour {
    background-color: $quaternary;
  }
  // List item styles
  .items {
    border-radius: 10%;
    width: calc(45% - 50px);
    margin: 50px 25px 25px;
    padding: 40px;
    text-align: center;
    transition: 0.3s;
    // Image styles
    img {
      border-radius: 10%;
      margin-bottom: 15px;
    }
    &:hover {
      transform: scale(0.9);
    }
  }
}

// Image Carousel
.imageCarousel {
  h3 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel--item {
  display: none;
  transition: 0.3s;
  &:hover {
    transform: scale(0.9);
  }

  img {
    border-radius: 20%;
    background-color: $primary;
    width: 100%;
    padding: 40px;
    max-width: 550px;
    height: auto;
  }
}
.carousel--item--first {
  display: flex;
}

// Buttons
.carousel--actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 360%;
  transform: translateY(-50%);

  button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    background: grey;
  }

  button#carousel--button--previous {
    margin-left: 20px;
  }

  button#carousel--button--next {
    margin-right: 20px;
  }
}

// Let them play
.play {
  background-image: url("../assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  margin-bottom: 0;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    .playContent {
      width: 60%;
      border: 24px solid $pastelBlue;
      background-color: $solidWhite;
      padding: 60px;
      text-align: center;
    }
  }
}
